@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body
{
  background-color: #454545;
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
}
.mainFlex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainContent 
{
  flex-grow: 1;
}
header
{
  background-color: #262626;
	color: #ddc4f3;
	padding-bottom:5px;
  padding-top: 1px;
  height: 100px;
}
.mainHeadStyle
{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 450px 1fr;
  height: 100px;
}
.headerText
{
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: fixed(50vh);
}
.searchBox
{
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 0.5rem;
}
.srchwrds
{
  margin-left: 2rem;
  color: #ddc4f3;
}
.buttonDesign
{
  font-family: 'Play', sans-serif;
  background-color: #643de6;  
  font-weight: 700;
  border: none;
  height: 21px;
}
.buttonDesign:hover
{
  background-color: #4224a3;    
}
.rasmusDefiniton
{
  display:  grid;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #ddc4f3;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  text-align-last: center;
  gap: 2rem; 
}
footer
{
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: space-evenly;
  text-align: justify;
  color: #ddc4f3;
}
.footerStyle
{
  background-color: #3f355f;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
}
.contact
{
  display: flex;
  margin: 2rem;
  gap: 1rem;
  flex-direction: column;
}
.link
{
  display: flex;
  margin: 2rem;
  gap: 1rem;
}
input
{
  font-family: 'Play', sans-serif;
}